* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* header section */
  header {
    background-color: rgb(4, 9, 51);
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(
      to bottom right,
      rgb(4, 9, 51),
      rgb(4, 70, 42)
    );
  }
  
  header nav div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  header nav div h1 {
    margin-left: 20px;
    color: #fff;
  }
  
  header nav {
    display: grid;
    width: 100%;
    height: 100%;
  }
  header nav .brand {
    display: flex;
    align-items: center;
    /* margin: 0;
      padding: 0; */
    margin-left: 20px;
  }
  header nav ul {
    display: flex;
    border-top: 2px solid #fff;
    justify-content: center;
    align-items: center;
  }
  
  header nav ul li {
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
  }
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  header nav ul li a:hover {
    font-weight: 800;
  }
  
  /* for medium screen */
  @media only screen and (min-width: 768px) {
    header nav {
      display: grid;
      grid-template-columns: auto auto;
    }
    header nav ul {
      border: none;
      justify-content: flex-start;
    }
    header nav ul li {
      margin: 0;
      margin-right: 30px;
    }
  }
  
  /* for large screen */
  /* @media only screen and (min-width: 1024px) {
      
    } */
  