* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* footer section  */
  
  .footer-container {
    display: grid;
    background-color: rgb(78, 77, 77);
    color: rgb(212, 201, 201);
    padding: 20px;
    row-gap: 10px;
  }
  
  .footer-container .foot-item div {
    display: flex;
    align-items: center;
  }
  
  .footer-container .foot-item div img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .footer-container .foot-item div span {
    font-size: 0.5rem;
    margin-right: 20px;
    margin-left: 5px;
  }
  .footer-container .foot-item {
    margin: 0;
    padding: 0;
  }
  .footer-container .foot-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .footer-container .foot-item ul li {
    margin-bottom: 15px;
  }
  .footer-container .foot-item ul li a {
    text-decoration: none;
    color: rgb(212, 201, 201);
  }
  .footer-container .foot-item ul li a:hover {
    font-weight: bold;
    color: #fff;
  }
  
  .footer-container .foot-item .footimg-container .foot-img {
    height: 30px;
    width: 30px;
    border-radius: 20%;
    background-color: #fff;
    color: rgb(78, 77, 77);
  }
  .footer-container .item3 {
    text-align: center;
    /* background-color: #000; */
  }
  
  /* for medium screen */
  @media only screen and (min-width: 768px) {
    /* footer section */
    .footer-container {
      grid-template-columns: auto auto;
    }
    .footer-container .item3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  
  /* for large screen */
  /* @media only screen and (min-width: 1024px) {
    
    } */
  